.recent-searches {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 100;
  display: none; /* Initially hidden */
}

.recent-searches li {
  padding: 10px;
  cursor: pointer;
}

.recent-searches li:hover {
  background-color: #f0f0f0;
}

.search {
  position: relative; /* To position the dropdown correctly */
}

.main-weather-icon {
  width: 50%;
  
}

.hidden {
  display: none;
}

.center-text {
  text-align: center;
  word-wrap: break-word; /* Allows breaking long words to wrap properly */
  overflow: visible; /* Ensures no clipping of text */
}

.forecast-container-c {
  overflow-x: scroll;
}

.forecast-container-c::-webkit-scrollbar {
  display: none;
}

.current-day-container {
  width: 25%;
}

.forecast-card {
  width: 8rem !important;
}

#forecast-container {
  display: flex;
  justify-content: flex-start; /* Align cards to the left */
  flex-wrap: nowrap; /* Prevent wrapping */
  overflow-x: auto; /* Horizontal scrolling if content overflows */
  padding: 10px 0; /* Optional: space around the container */
}

.title {
  font-size: 3rem; /* Adjust size as needed */
  font-weight: bold; /* Optional for emphasis */
}


.card {
  width: 15rem; /* Fixed width for cards */
  margin-right: 10px; /* Space between the cards */
  flex-shrink: 0; /* Prevent cards from shrinking */
  background-color:transparent;
}

.card img {
  max-width: 100%; /* Make sure the image scales properly */
  height: auto; /* Maintain image aspect ratio */
}

.fd-row {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  border: 1px solid #ddd; 
  padding: 10px; 
  margin: 10px;
}

.kanit-light {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}
